@model PostOfficeDomain.Model.Parcel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Parcel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Info)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Info)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Weight)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Weight)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeliveryAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeliveryAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentLocation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CurrentLocation.Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeliveryPoints)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeliveryPoints.Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeparturePoints)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeparturePoints.Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Reciver)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Reciver.ContactNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sender.ContactNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status.Status)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
