@model IEnumerable<PostOfficeDomain.Model.Parcel>

@{
    ViewData["Title"] = "ParcelList";
}

<h1>Список усіх посилок</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Info)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Weight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeliveryAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CurrentLocation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeliveryPoints)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeparturePoints)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reciver)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Info)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Weight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeliveryAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CurrentLocation.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeliveryPoints.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeparturePoints.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Reciver.ContactNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sender.ContactNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status.Status)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Редагувати</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Детально</a>
            </td>
        </tr>
}
    </tbody>
</table>
