@model PostOfficeDomain.Model.PostalFacility

@{
    ViewData["Title"] = "Details";
}

<h1>Детально про @Html.DisplayFor(model => model.Name)</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WorkSchedule)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WorkSchedule)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WeightRestrictions)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WeightRestrictions)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FacilityType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FacilityType.Type)
        </dd>
    </dl>
</div>

<div class="container">
    <div id="chart2"></div>
</div>
@section scripts {
    <script type "text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', { 'packages': ['corechart'] });
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            var id = '@Html.Raw(Model.Id)';
            var url = '/api/Chart/JsonData/' + id;

            $.get(url, function (JsonData) {
                data = google.visualization.arrayToDataTable(JsonData, false);
                var option = {
                    title: "Співвідношення кількості посилок відправленими поштоматами до відправленими поштовим відділенням",
                    width: 500,
                    height: 400
                };
                chart = new google.visualization.PieChart(document.getElementById('chart2'));
                chart.draw(data, option);
            })
        }
    </script>
}